.tableContainer {
  height: 400px; /* Fixed height is required */
  overflow-y: scroll; /* Enables vertical scrollbar */
  overflow-x: auto; /* Optional: enables horizontal scroll if needed */
}

.width-max
{
  width: 100%;
}


.width-half
{
  width: 50%;
}